## 1. Charger vos données dans un DataFrame Pandas

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
'titanic.xls'

'titanic.xls'

 ## 2. Nettoyer votre Dataset avec drop(), dropna() et fillna()

## 3. Groupby() et value_counts()

## 4 Créer des catégories d'ages avec la fonction map() de pandas

## 5.